.titreMD {
  padding: 1em;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}


.carousel-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide {
  flex: 0 0 100%;
  width: 100%;
  display: none;
  /* Masquer les diapositives par défaut */
  position: relative;
  /* Position relative pour le positionnement absolu du texte */
}

.slide-content {
  position: relative;
  text-align: center;
  /* Centrer le contenu */
}

/* Afficher uniquement la diapositive actuelle */
.carousel-slide.active {
  display: block;
}

button.prev,
button.next {
  font-size: xx-large;
  position: absolute;
  top: 70px;
  transform: translateY(-50%);
  padding: 10px;
  background-color: transparent;
  color: #3DAD5C;
  border: none;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}