/* Réinitialisation des marges et des paddings */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Style du titre */
.titreMD {
  padding: 1em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* Style du conteneur du carrousel */
.carousel-container {
  position: relative;
  width: 360px; /* Largeur du carrousel (360px pour un téléphone mobile de 360x800) */
  height: 400px; /* Hauteur du carrousel */
  overflow: hidden;
  margin: 0 auto; /* Centrer le carrousel horizontalement */
}


/* Wrapper du carrousel */
.carousel-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 300%; /* Largeur totale = 3 fois la largeur d'une diapositive */
}


/* Diapositive du carrousel */
.carousel-slide {
  flex: 0 0 33.33%; /* Chaque diapositive occupe 33.33% de la largeur (3 diapositives visibles à la fois) */
text-align: center;
  padding: 20px;
}





/* Style des boutons "Précédent" et "Suivant" */
button.prev,
button.next {
  position: absolute;
  top: 20%; /* Position verticale centrée */
  transform: translateY(-50%);
  font-size: 24px;
  background-color: transparent;
  color: #3DAD5C;
  border: none;
  cursor: pointer;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

.modeemploipuces{
  color:#3DAD5C ;
  font-size: 3em;
}

.opacity{
  color: #3DAD5C;
  opacity: 0.5;
}