#sliderapropos1{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 150px;
    position: sticky;
    margin-bottom: 300px;
    left: 10%;
}

#precedent, #suivant {
    position: absolute;
    font-size: 50px;
    top: 50px;
    color: #019961;
    cursor: pointer;
}

#precedent{
    left: 0;
    top: 37%;
}

#suivant {
    right: 0;
}
