.sliderapropos {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

#sliderapropos1 img {
    width: 100%;
    display: none;
}

#sliderapropos1 img.active {
    display: block;
}

#precedent, #suivant {
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    color:#019961 ;
    padding: 0;
    border: none;
    font-size: 60px;
    
}

#precedent {
    display: flex;
    position: absolute;
    top: 23%;
    left: 0;
}

#suivant {
    right: 0;
}






