.bouton1 {
  display: flex;
  position: sticky;
  left: 7%;
  bottom: 20%;
  border-radius: 50px;
  padding: 10px 30px;
  background: hsl(137, 48%, 46%);
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  text-decoration: wavy;
  width: 70%;
  justify-content: center;


}

a.bouton1:hover {
  background: #019961;
}

.bouton1 {
  background: linear-gradient(to bottom right, #B5D653, #79C258, #019961);
}

.bouton2 {
  display: flex;
  position: sticky;
  left: 7%;
  bottom: 31%;
  border-radius: 100px;
  border-style: solid;
  border-color: #019961;
  padding: 8px 17px;
  color: #019961;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  text-decoration: wavy;
  width: 75%;
  justify-content: center;

}

a.bouton2:hover {
  background: #019961;
  color: white;
}

.ou {
  display: flex;
  position: absolute;
  bottom: 32.2%;
  right: 45%;
}

.imagegreen {
  display: flex;
  position: sticky;
  left: 30%;
  width: 250px;
}

.paragraphegreen {
  display: flex;
  position: relative;
  bottom: 30%;
  left: 10%;
}

.paragraphegreen {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.titlegreen {
  display: flex;
  position: sticky;
  bottom: 45%;
  justify-content: center;
  left: 5%;
}

.titlegreen {
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
  font-weight: 600;
}