.bouton1 {
    display: flex;
    position: absolute;
    left: 25%;
    bottom: 20%;
    border-radius: 50px;
    padding: 10px 30px; 
    background: hsl(137, 48%, 46%); 
    color: white; 
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    text-decoration: wavy;
    
    
    }
    a.bouton1:hover {
    background: #019961; 
    }
    .bouton1 {
        background: linear-gradient(to bottom right, #B5D653, #79C258, #019961);
      }

      .bouton2 {
        display: flex;
        position: absolute;
        left: 25%;
        bottom: 10%;
        border-radius: 100px;
        border-style:solid;
        border-color: #019961;
        padding: 8px 17px; 
        color: #019961; 
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        text-decoration: wavy;
        
        }
        a.bouton2:hover {
            background: #019961; 
            color: white;
            }

.ou{
  display: flex;
  position: absolute;
  bottom: 16.5%;
  left: 43%;
}

.imagegreen{
  display: flex;
  position: absolute;
  left: 30%;
  width: 250px;
}

.paragraphegreen{
  display: flex;
  position: absolute;
  bottom: 30%;
}

.titlegreen{
  display: flex;
  position: absolute;
  bottom: 45%;
  justify-content: center;
}
        